@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-relogio {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --font01: "Montserrat", sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100vw;
    height: 93vh;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#saudacao {
    font-size: 3em;
    font-family: var(--font01);
    font-weight: lighter;
    color: white;
}
.containerHoras {
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerHoras > .relogio {
    font-size: 5em;
    font-family: var(--font01);
    font-weight: lighter;
    background: linear-gradient(to bottom right, black, white, black);
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
}
.containerHoras > p {
    color: white;
    font-size: 3em;
}

.containerDias {
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerDias > .calendario {
    font-size: 2em;
    font-family: var(--font01);
    color: white;
}
.containerDias > p {
    color: white;
    margin: 5px;
    font-size: 2em;
    font-family: var(--font01);
    font-weight: lighter;
}
#semana {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-family: var(--font01);
    font-weight: lighter;
}